html
  head
    title="URL Shortener"
  body 

    h1 URL Shortener

    p Receives a URL as a parameter and returns a shortened URL in the JSON response.
    
    p Performs a check in order to determine if the received URL has a valid format.


    h2 Examples of use

    ul
    li
        a(href="http://shortener-basecamp.herokuapp.com/www.google.com") http://shortener-basecamp.herokuapp.com/www.google.com
    li
        p http://shortener-basecamp.herokuapp.com/1
    li 
        a(href="http://shortener-basecamp.herokuapp.com/www.freecodecamp.com") http://shortener-basecamp.herokuapp.com/www.freecodecamp.com
    li
        p http://shortener-basecamp.herokuapp.com/12
    
    
    h2 Credits
    
    p Made by #[a(href="http://jcapona.github.io") jcapona]
    
    p Check the repo #[a(href="https://github.com/jcapona/url-shortener") @Github]
        


